
/* src/App.css */

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #EAB8EA, #A3C1E0, #B8E3A0);
  font-family: Arial, sans-serif; /* Fonte mais suave */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
}

h1 {
  color: #333; 
  margin-bottom: 20px; 
  font-size: 2em; /* Tamanho da fonte aumentado */
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 10px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px; /* Largura reduzida */
  margin: 10px 0; /* Espaçamento acima e abaixo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

button:hover {
  background-color: #218838;
  transform: translateY(-2px); /* Eleva o botão ao passar o mouse */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; /* Espaçamento acima e abaixo da lista */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}

/* src/styles/App.css */
.erro {
  color: red;
  font-size: 0.8em;
}

/* Centralizar o botão de listar */
.lista-button-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  width: 100%; /* Largura total do contêiner */
  margin-top: 10px; /* Margem superior */
}
